README.md
docs/
.gitignore
debug

# Exclude most of config from build context, but keep required files/models
config/*
!config/config.yml
!config/deepsort_config.yml
!config/yolov8n_opset21.onnx
!config/yolov8n.onnx

*.pyc
.git
core
*.mp4
*.jpg
*.db
*.ts

web/dist/
web/node_modules/
web/.npm
