database:
  path: /db/frigate.db
model:
  model_type: yolo-generic
  width: 640
  height: 640
  input_tensor: nchw
  input_dtype: float
  input_pixel_format: bgr
  path: /config/yolov8n_opset21.onnx
mqtt:
  enabled: false
face_recognition:
  enabled: false
semantic_search:
  enabled: false
logger:
  default: warning
  logs:
    frigate.track: error
    frigate.camera.state: error
    frigate.embeddings: error
    frigate.comms: error
    frigate.events: error
    frigate.track.tracked_object: error
    frigate.track.object_processing: info
    frigate.track.deepocsort_tracker: error

cameras:
  entry:
    enabled: true
    ffmpeg:
      input_args:
        - -rtsp_transport
        - tcp
      inputs:
      - path: rtsp://support:Support@1@115.240.252.217:555/live
        roles:
        - detect
        - record
    detect:
      enabled: true
      width: 1280
      height: 720
    objects:
      track:
      - person
      filters:
        person:
          min_area: 5000
          max_area: 100000
          min_score: 0.5
          threshold: 0.7
    motion:
      threshold: 50
      contour_area: 10
      improve_contrast: true
    zones:
      Exit-Zone:
        coordinates: 0.275,0.071,0.745,0.071,0.742,0.998,0.305,1
        loitering_time: 0
        objects:
        - person
  # exit:
  #   enabled: true
  #   ffmpeg:
  #     input_args:
  #       - -re
  #       - -stream_loop
  #       - "-1"
  #     inputs:
  #       - path: /media/frigate/testinput/57.27.mp4
  #         roles:
  #         - detect
  #         # - record
  #   detect:
  #     enabled: true
  #     width: 1280
  #     height: 720
  #   objects:
  #     track:
  #     - person
  #     filters:
  #       person:
  #         min_area: 5000
  #         max_area: 100000
  #         min_score: 0.5
  #         threshold: 0.7
  #   motion:
  #     threshold: 50
  #     contour_area: 10
  #     improve_contrast: true
  # em-dept-rightexit:
  #   enabled: true
  #   ffmpeg:
  #     inputs:
  #     - path: rtsp://admin:abcd@321@121.200.48.187:555/Streaming/Channels/102
  #       roles:
  #       - detect
  #       - record
  #   detect:
  #     enabled: false
  #     width: 1280
  #     height: 720
  #   objects:
  #     track:
  #     - person
  #     filters:
  #       person:
  #         min_area: 5000
  #         max_area: 100000
  #         min_score: 0.5
  #         threshold: 0.7
  #   motion:
  #     mask: 0.023,0.02,0.333,0.018,0.333,0.099,0.016,0.124
  # em-dept-sideexit:
  #   enabled: true
  #   ffmpeg:
  #     inputs:
  #     - path: rtsp://admin:abcd@321@121.200.48.187:556/Streaming/Channels/102
  #       roles:
  #       - detect
  #       - record
  #   detect:
  #     enabled: false
  #     width: 1280
  #     height: 720
  #   objects:
  #     track:
  #     - person
  #     filters:
  #       person:
  #         min_area: 5000
  #         max_area: 100000
  #         min_score: 0.5
  #         threshold: 0.7
record:
  enabled: true
  retain:
    days: 7
    mode: motion
snapshots:
  enabled: true
  bounding_box: true
  timestamp: true
  retain:
    default: 30
version: 0.17-0
camera_groups:
  Emerald:
    order: 1
    icon: LuActivity
    cameras:
    - entry
detectors:
  onnx:
    type: onnx
    device: AUTO
detect:
  enabled: true
