database:
  path: /db/frigate.db
model:
  model_type: yolo-generic
  width: 640
  height: 640
  input_tensor: nchw
  input_dtype: float
  input_pixel_format: rgb
  path: /config/yolov8n_opset21.onnx
mqtt:
  enabled: false
face_recognition:
  enabled: false
semantic_search:
  enabled: false
logger:
  default: warning
  logs:
    frigate.track: error
    frigate.camera.state: error
    frigate.embeddings: error
    frigate.comms: error
    frigate.events: error
    frigate.track.tracked_object: error
    frigate.track.object_processing: info
    frigate.track.deepocsort_tracker: error

go2rtc:
  streams: {}
cameras:
  entry:
    enabled: true
    ffmpeg:
      input_args:
        - -rtsp_transport
        - tcp
      inputs:
        - path: rtsp://admin:Admin@123@121.200.48.187:554/Streaming/Channels/102
          roles:
            - detect
            - record
    detect:
      enabled: true
      width: 1280
      height: 720
    objects:
      track:
      - person
      filters:
        person:
          min_area: 1500
          max_area: 1000000
          min_score: 0.3
          threshold: 0.5
    motion:
      threshold: 50
      contour_area: 10
      improve_contrast: true
  # exit:
  #   enabled: true
  #   ffmpeg:
  #     input_args:
  #       - -stream_loop
  #       - "-1"
  #       - -re
  #     inputs:
  #       - path: /media/frigate/testinput/vlc-record-2026-01-21-17h11m11s-rtsp___121.200.48.182_554_live-.mp4
  #         roles:
  #           - detect
  #           # - record
  #   detect:
  #     enabled: true
  #     width: 1280
  #     height: 720
  #   objects:
  #     track:
  #       - person
  #     filters:
  #       person:
  #         min_area: 1500
  #         max_area: 1000000
  #         min_score: 0.3
  #         threshold: 0.5
  #   motion:
  #     threshold: 50
  #     contour_area: 10
  #     improve_contrast: true
      
  entry-1:
    enabled: true
    ffmpeg:
      input_args:
        - -rtsp_transport
        - tcp
      inputs:
        - path: rtsp://support:Support%401@115.240.252.217:555/live
          roles:
            - detect
            - record
    detect:
      enabled: true
      width: 1280
      height: 720
    objects:
      track:
      - person
      filters:
        person:
          min_area: 1500
          max_area: 1000000
          min_score: 0.3
          threshold: 0.5
    motion:
      threshold: 50
      contour_area: 10
      improve_contrast: true
  # em-dept-sideexit:
  #   enabled: true
  #   ffmpeg:
  #     inputs:
  #     - path: rtsp://admin:abcd@321@121.200.48.187:556/Streaming/Channels/102
  #       roles:
  #       - detect
  #       - record
  #   detect:
  #     enabled: false
  #     width: 1280
  #     height: 720
  #   objects:
  #     track:
  #     - person
  #     filters:
  #       person:
  #         min_area: 5000
  #         max_area: 100000
  #         min_score: 0.5
  #         threshold: 0.7
record:
  enabled: false
  retain:
    days: 7
    mode: motion
snapshots:
  enabled: true
  bounding_box: true
  timestamp: true
  retain:
    default: 30
version: 0.17-0
camera_groups:
  Emerald:
    order: 1
    icon: LuActivity
    cameras:
    - entry
    # - exit
    - entry-1
detectors:
  onnx:
    type: onnx
    device: auto
detect:
  enabled: true